<div>
  <span class="radioClass"> Show:</span>
  <input type="radio" name="options" value="All" [(ngModel)]="selectRadioBtnVal" (change)="onradioChange()"/><span class="radioClass">{{"All("+all+")"}}</span>
  <input type="radio" name="options" value="Male" [(ngModel)]="selectRadioBtnVal" (change)="onradioChange()" /><span class="radioClass">{{"Male("+male+")"}}</span>
  <input type="radio" name="options" value="Female" [(ngModel)]="selectRadioBtnVal" (change)="onradioChange()"/><span class="radioClass">{{"Female("+female+")"}}</span>
</div>
